<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <title>{% block title %}{% endblock %}</title>
        {% if ctx and ctx.summary %}
            <meta name="description" content="{{ ctx.summary }}">
        {% endif %}
        <link href="/feed.atom" rel="alternate" title="Feed" type="application/atom+xml">
        <link href="http://fonts.googleapis.com/css?family=Linden+Hill:400,400italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        {%- for link in links %}
            <link rel="{{ link.rel }}" href="{{ link.href }}"{% if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
        {%- endfor %}
    </head>
    <body>
        <div id="wrapper">
            <div id="blogtitle">blog.dbrgn.ch</div>
            <ul id="mainnav">
                <li><a href="/">home</a></li>
                <li><a href="/archive/">archive</a></li>
                <li><a href="/tags/">tags</a></li>
                <li class="last"><a href="/about/">about</a></li>
            </ul>

            <div class="clearboth"></div>

            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
