{% extends "base.html" %}

{% block content %}

    <section id="content">
      {%- for article in articles_page.object_list %}

        <article class="entry-overview">
            <div class="date">{{ article.locale_date }}</div>
            <div class="detail">
                <header><h1>
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        {{ article.title }}
                    </a>
                </h1></header>
                <div class="summary">{{ article.summary|striptags }}</div>
                <div class="indextags">
                    {% for tag in article.tags|sort %}
                        <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag.name.replace(' ', '_') }}</a>
                    {% endfor %}
                 </div>
            </div>
        </article>

        {%- endfor %}

        {% include 'pagination.html' %}

    </section>

{% endblock %}
