{% extends "layout.html" %}
{% block title %}{{ rst.title }}{% endblock %}
{% block body %}
  {%- if not config.hide_title %}
  {{ rst.html_title }}
  {%- endif %}
  {% if ctx.pub_date %}
    <div class="date">
      <p>written on {{ format_date(ctx.pub_date, format='full') }}</p>
    </div>
  {% endif %}

  {{ rst.fragment }}

  {% if not rst.title == "About me" %}
      <a href="https://flattr.com/submit/auto?user_id=danilo&url=http://blog.dbrgn.ch{{ link_to('page', slug=ctx.slug) }}/&title={{ rst.title|urlencode }}&description={{ ctx.summary|urlencode }}&tags={{ ctx.tags|sort(case_sensitive=true)|join(", ")|urlencode }}&category=text">
           <img class="flattrbutton" src="/static/img/flattr-badge-large.png" alt="Flattr this!" /> 
      </a>
  {% endif %}

  {% if ctx.tags %}
    <div class="tags">
      <p>This entry was tagged
      {% for tag in ctx.tags|sort(case_sensitive=true) %}
        {%- if not loop.first and not loop.last %}, {% endif -%}
        {%- if loop.last and not loop.first %} and {% endif %}
        <a href="{{ link_to('tag', tag=tag) }}">{{ tag }}</a>
        {%- endfor %}</p>
    </div>
  {% endif %}

  {% if 'disqus' in config.active_modules %}
    {{ get_disqus() }}
  {% endif %}
{% endblock %}
